


#postings{
  background-color: white;
  height:600px;
}

.job-catagories{
  text-align: left;
  margin: 10px;
}

.job-catagory{
  padding-top:0px;
  padding:50px;
  padding-top:10px;
}

#job-catagory1{
  color:#f77b7b;
}

#job-catagory2{
  color:#aaaa55 ;
}

#job-catagory3{
  color:#85a4e0;
}

.job-underline1{
  border-top: solid #f77b7b 6px;
}

.job-underline2{
  border-top: solid #aaaa55 6px;
}

.job-underline3{
  border-top: solid #85a4e0 6px;
}

li.job-title{
 font-size:15px; 
 text-decoration: underline;
 font-weight: 700;
 margin-bottom: 10px;
 font-style: bold;
}


button.see-more-jobs{
  padding:10px;
  border:1px solid gray;
  background-color:transparent;
  margin-top:20px;
  color:gray;

}


#storeList{
 font-family:sans-serif;
 font-size:15px;
 color:gray;
 overflow:auto;
 max-height: 400px;
 font-weight: 100;
}


#international{
 font-family:sans-serif;
 font-size:15px;
 color:gray;
 overflow:auto;
 max-height: 400px;
 font-weight: 100;
}

#stores{
 font-family:sans-serif;
 font-size:15px;
 color:gray;
overflow:auto;
 max-height: 400px;
 font-weight: 100;
}


li.job-location{
  margin-bottom: 5px;
}

li.job-description{
  margin-bottom: 15px;

}

li.apply1{
  margin-bottom: 15px;
  text-decoration: underline;
  font-weight: 700;
  color:#f77b7b;
  
}

li.apply2{
  margin-bottom: 15px;
  text-decoration: underline;
  font-weight: 700;
  color:#aaaa55;
}

li.apply3{
  margin-bottom: 15px;
  text-decoration: underline;
  font-weight: 700;
  color:#85a4e0;
}



@media screen and (max-width: 1023px){
#storeList, #international, #stores{
 overflow:hidden;
 max-height: 100px;
}

li.job-description{
  display:none;
}
}




@media screen and (max-width: 567px){
.job-catagories{
  margin-top: 30px;
}

#storeList, #international, #stores{
 overflow:hidden;
 max-height: 160px;
}
.job-catagory{
  padding:15px;
}


#postings{
  background-color: white;
  height:840px;
}

}

